.app-topbar .app-title{
	font-family: 'Oswald';

}

.title-bar-container{
	position: relative;
	text-align: center;
	height: 44px;
	width: 100%;

	display: table;
	background-position-x: initial;
	background-position-y: initial;
	background-size: initial;
	background-repeat-x: initial;
	background-repeat-y: initial;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	font-family: "Roboto";
	font-weight: bold;
    word-wrap:break-word;	

    line-height: 120%;
}


.title-bar-text{
	display: table-cell;
    vertical-align: middle;
    padding-top: 6px;
    padding-bottom: 7px;
    padding-right: 5px;
    padding-left: 5px;
}

.app-ios .listwrapper {
	min-height: 100%;
	padding-bottom: 1px;
}
.listwrapper {
	height: 100%;
}

.main-image{
	width:100%;
	-webkit-user-select: none;
	-webkit-user-drag: none;
}

.app-ios .main-image{
	/* iOS not completely rendering image */
	 -webkit-transform: translate3d(0,0,0);
}

.app-topbar {
	z-index: 3000;
	position: relative;
	height: 44px;
	width: 100%;
	color: #dde5ec;
	text-shadow: 0 1px 1px #063056;
	text-transform: uppercase;

    border-bottom: 1px solid #1c5380;
	border-bottom-color: rgba(4, 40, 71, 0.8);
	-webkit-box-shadow: 0 1px 0 rgba(111, 151, 182, 0.5) inset, 0 -1px 0 rgba(111, 151, 182, 0.2) inset, 0px 1px 1px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 0 rgba(111, 151, 182, 0.5) inset, 0 -1px 0 rgba(111, 151, 182, 0.2) inset, 0px 1px 1px rgba(0,0,0,.2);
	-ms-box-shadow: 0 1px 0 rgba(111, 151, 182, 0.5) inset, 0 -1px 0 rgba(111, 151, 182, 0.2) inset, 0px 1px 1px rgba(0,0,0,.2);
	-o-box-shadow: 0 1px 0 rgba(111, 151, 182, 0.5) inset, 0 -1px 0 rgba(111, 151, 182, 0.2) inset, 0px 1px 1px rgba(0,0,0,.2);
	box-shadow: 0 1px 0 rgba(111, 151, 182, 0.5) inset, 0 -1px 0 rgba(111, 151, 182, 0.2) inset, 0px 1px 1px rgba(0,0,0,.2);
	background-color: #517fa4;
	background-image: url(../img/noise-1.png), -webkit-gradient(linear, left top, left bottom, from(#517fa4), to(#306088));
	background-image: url(../img/noise-1.png), -webkit-linear-gradient(top, #517fa4, #306088);
	background-image: url(../img/noise-1.png), -moz-linear-gradient(top, #517fa4, #306088);
	background-image: url(../img/noise-1.png), -o-linear-gradient(top, #517fa4, #306088);
	background-image: url(../img/noise-1.png), -ms-linear-gradient(top, #517fa4, #306088);
	background-image: url(../img/noise-1.png), linear-gradient(top, #517fa4, #306088);
	font-family: helvetica;
	font-weight: bold;
}

.app-ios .app-topbar {
	z-index: 3000;
	position: relative;
	height: 44px;
	width: 100%;
	color: #FFF;
	font-family: helvetica;
	font-weight: bold;
	box-shadow: none;
}

.app-title.left{
	text-align: left;
	padding-left: 10px;
}


.app-topbar .app-button{
	width: 20%;
	text-align: center;
	border-right: 1px solid #1c5380;
	border-left: 1px solid #1c5380;
	box-shadow: -1px 0 #1c5380 inset, 1px 0 #333 inset;
}

.app-topbar .app-button:active{
	background-color: #517fa4;
	background-image: url(../img/noise-1.png), -webkit-gradient(linear, left top, left bottom, from(#517fa4), to(#306088));
	background-image: url(../img/noise-1.png), -webkit-linear-gradient(top, #517fa4, #306088);
	background-image: url(../img/noise-1.png), -moz-linear-gradient(top, #517fa4, #306088);
	background-image: url(../img/noise-1.png), -o-linear-gradient(top, #517fa4, #306088);
	background-image: url(../img/noise-1.png), -ms-linear-gradient(top, #517fa4, #306088);
	background-image: url(../img/noise-1.png), linear-gradient(top, #517fa4, #306088);
}


.app-topbar .app-button.semiright{
	top: 0;
	right: 25%;
	text-align: center;
	border-left: 1px solid #1c5380;
	border-right: 1px solid #1c5380;
	box-shadow: -1px 0 #1c5380 inset, 1px 0 #333 inset;
}


.app-topbar .app-button.right.kik {
	background-position:center;
	background-repeat: no-repeat;
	background-size: auto 30px;
	border-left: 1px solid #1c5380;
	box-shadow: -1px 0 #1c5380 inset, 1px 0 #333 inset;
}


.app-android .app-topbar .app-button {
	padding: 0;
}

.app-android .app-topbar .app-button.semiright{
	right: 20%;
}

.app-android .app-topbar .app-button.semiright.home{
	background-image: url(../img/home.png);
	background-position:center;
	background-repeat: no-repeat;
	background-size: auto 35px;
}

.app-android .app-topbar .app-button.back{
	color: white;
	border-right: 1px solid #1c5380;
	box-shadow: -1px 0 #333 inset, 1px 0 #1c5380 inset;
}

.preview-title-container{
	position: relative;
	text-align: center;
	height: 44px;
	width: 100%;
	display: table;

	font-family: "Roboto";
	font-weight: bold;
	
	background-color: black;
    word-wrap:break-word;	
    line-height: 120%;
}

.preview-title{
	display: table-cell;
    vertical-align: middle;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 5px;
    padding-left: 5px;
}


.loader{
	background-image: url(../img/loader.gif);
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 44px;
	padding-top: 50%;
	text-align: center;	
	vertical-align: middle;
}


.app-list li{
	padding-top: 10px;
	text-align: center;
	font-size: 18px;
	overflow: auto;
	white-space: normal;
	height: 100%;
	line-height: 20px;
}

.app-android .app-list li{
	padding-top: 10px;
}

.app-list li p{
	font-size: 15px;
	padding: 15px;
	font-weight: normal;
}


